<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <div id="page">
      <header id="page_header"></header>
      <section id="page_content"></section>
      <footer id="page_footer"></footer>
    </div>
  </body>
</html>
