.navbar-inner {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.navbar {
  margin-bottom: 0px;
  margin-top: 0px;
}

.dynamic-list {
  /*-webkit-box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0976563) 0px 1px 5px 0px;*/
  background-color: #EEE;
  background-repeat: repeat-x;
  margin: 0;
}

.dynamic-list ul {
  margin: 0;
}

.dynamic-list li {
  margin: 0;
  padding: 11px;
  border-top: 1px solid whiteSmoke;
  border-left: 1px solid whiteSmoke;
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  background-image: -webkit-linear-gradient(top, whiteSmoke 0%, #EEE 100%);
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
