html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

form, input {
  margin: 0;
}

table, tr, td {
  border: 0;
  padding: 0;
  margin: 0;
  vertical-align: top;
  border-collapse: collapse;
}

table.nav {
  height: 100%;
  width: 100%;
}



/* Styling */

.left-col {
  width: 320px;
  height: 100%;
}

.navbar {
  -webkit-box-shadow: rgba(0, 0, 0, 0.246094) 0px 1px 3px 0px, rgba(0, 0, 0, 0.0976563) 0px -1px 0px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.246094) 0px 1px 3px 0px, rgba(0, 0, 0, 0.0976563) 0px -1px 0px 0px inset;
  background-color: #2C2C2C;
  background-image: -webkit-linear-gradient(top, #333, #222);
  background-repeat: repeat-x;
  color: #333;
  display: block;
  padding: 5px 20px 5px 20px;
  color: #CCC;
}

.search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}

.navbar .search-query{
  padding: 4px 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.75);
  background: #666;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid #111;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
}

.navbar .search-query :-moz-placeholder {
  color: #eeeeee;
}
.navbar .search-query::-webkit-input-placeholder {
  color: #eeeeee;
}

.navbar .search-query:hover {
  color: #ffffff;
  background-color: #999999;
  background-color: rgba(255, 255, 255, 0.5);
}

.navbar .search-query:focus, .navbar .search-query.focused {
  padding: 5px 10px;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  outline: 0;
}

.scroll-list {
  min-height: 100;
  overflow: auto;
  height: 100%;
  background-color: #E5E5E5;
}

.list-item {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.0976563);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.0976563);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.0976563);
  padding: 11px;
  border-top: 1px solid #EFEFEF;
  border-left: 1px solid #EFEFEF;
  border-right: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  background-image: -webkit-linear-gradient(top, #FFF 0%, #EEE 100%);
  cursor: pointer;
}

.list-item:hover {
  border-top-color:  #E3F1FA;
  border-left-color: #E3F1FA;
  border-bottom-color: #CCD8E0;
  border-right-color: #CCD8E0;
  background-image: -webkit-linear-gradient(top, #E6F2FA 0%, #D1E2ED 100%);
}

.list-item.active, .list-item:active, .list-item.active:hover {
  border-bottom: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-left: 1px solid #CDCDCD;
  border-top: 1px solid #CCC;
  background-image: -webkit-linear-gradient(top, #CECECE 0%, #DDD 100%);
}

